version: '3.8'
volumes: 
  postgres_data:

services:
  db:
    image: postgres:12.4
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    restart: always

