Django==3.2.3
# валидатор на проверку уникальности пароля пользователя
# (запрет повторений пароля)
django-password-validators==1.4.0
# регистрация с подтверждением по email
django-registration-redux==2.9
# работа с переменной окружения
python_dotenv==0.17.1
Pillow==8.2.0
