{% extends 'base.html' %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center blue-text text-darken-4">Добро пожаловать
                !</h1>
            <div class="row center">
                <h5 class="header col s12 light">
                    Современный и отзывчивый портал по решению ваших проблем!
                </h5>
            </div>
            <div class="row center">
                <a
                        {% if not user.is_authenticated %}
                        href="{% url "auth_login" %}"
                        {% else %}
                        href="{% url "index" %}"
                        {% endif %}
                        id="download-button"
                        class="btn-large pulse waves-effect waves-light blue darken-4">
                    Приступить
                </a>
            </div>
            <br><br>

        </div>
    </div>


    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text">
                            <i
                                    class="material-icons"
                            >
                                flash_on
                            </i>
                        </h2>
                        <h5 class="center">Скорость решения ваших проблем</h5>

                        <p class="light">
                            Отвечаем на ваши вопросы любой сложности, в
                            сжатые и строго-регламентированные сроки!
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i
                                class="material-icons">group</i></h2>
                        <h5 class="center">
                            Квалифицированная команда поддержки
                        </h5>

                        <p class="light">
                            Все наши сотрудники - проффессионалы, целью которых,
                            является решение вашиз проблем.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i
                                class="material-icons">settings</i></h2>
                        <h5 class="center">
                            Легко спросить, сложно пропустить
                            ответ</h5>

                        <p class="light">
                            Интуитивно понятный интерфейс, удобная система
                            уведомлений.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>
{% endblock %}