<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }} Сброс пароля</title>
</head>

<body>
<p>
    Приветствуем вас -
    {% if user.get_full_name %}
        {{ user.get_full_name }}
    {% else %}
        {{ user }}
    {% endif %}
</p>
<p>
    Вы получили это письмо потому что вы (или кто-то выдающий себя за вас)
    запросил сброс пароля на сайте {{ domain }}. Если вы не хотите сбрасывать
    свой пароль, пожалуйста, проигнорируйте это сообщение.
</p>
<p>
    Чтобы сбросить пароль, перейдите по следующей ссылке:
</p>

<a href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
  вот по этой.
</a>

<p>Ваше имя пользователя, на случай если вы его забыли: captain {{ user.get_username }}</p>


<p>С уважением, foodgram-project</p>

</body>
</html>
