<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block meta %}
        <!-- your meta settings -->
    {% endblock %}
    <title>
        {% block title %}Base{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/icons.css" %}">
    {% block link %}
        <!-- your css links -->
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% include 'includes/navBar/navbar.html' %}
    {% endblock %}

    {% block slidebar %}
        {% include 'includes/slideBar/slidebar.html' %}
    {% endblock %}
    <div class="container" style="min-height: 80vh">
        {% block content %}
            <!-- your content -->
        {% endblock %}
    </div>
    {% block footbar %}
        {% include 'includes/footBar/footbar.html' %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static "js/sidenav/navinit.js" %}"></script>
{% block js %}
    <!-- your js scripts -->
{% endblock %}
</html>